body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.m-1 {
    margin: 5px;
}

.mr-1 {
    margin-right: 5px;
}

.ml-1 {
    margin-left: 5px!important;
}

.ml-2 {
    margin-left: 10px!important
}

.ml-5 {
    margin-left: 20px;
}

.repo-title {
    font-size: 20px;
    color: #0366d6;
    text-decoration: none;
}

.bg-light {
    background-color: rgb(255, 255, 255);
}

.p-1 {
    padding: 5px;
}

.d-flex {
    display: flex;
}

.bg-gold {
    background-color: gold;
}

.text-gold {
    color: gold;
}

.mb-1 {
    margin-bottom: 3px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px!important;
}

.single-repo {
    margin: 10px 0px!important;
    padding: 10px 5px!important;
    border-left: 3px transparent solid;
}

.single-repo:hover {
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; */
    border-left: 3px gold solid;
}